.u-center-text {
    text-align: center;
}
.u-mb-big {
    margin-bottom: 5rem;
}
.u-mb-med {
    margin-bottom: 3rem;
}

.u-mb-small {
    margin-bottom: 0.9375rem;
}
.u-mt-big {
    margin-top: 5rem;
}

.u-mt-huge {
    margin-top: 6.25rem;
}
